@import url("https://fonts.googleapis.com/icon?family=Material+Symbols") layer(base);
@import "tailwindcss";

@plugin "daisyui" {
    themes: dracula --default;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background: #0d1e31 url(../assets/bg.jpg) no-repeat 50% 50%;
    background-size: cover;

    cursor: url(../assets/cursor.ico), auto;
}

a {
    color: #69f0ae;
    word-break: break-all;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #969cbd transparent;
}

*:hover {
    scrollbar-color: #ff9632 transparent;
}

::selection {
    background-color: #ff9632;
    color: white;
}

@layer components {
    /* 毛玻璃面板 */
    .glass-panel {
        background: rgba(19, 39, 61, 0.4);
        backdrop-filter: blur(20px);
    }

    /* 毛玻璃卡片 */
    .glass-card {
        background: rgba(14, 32, 53, 0.6);
        backdrop-filter: blur(12px);
        border: 1px solid #f8f8f31a;
    }

    .drop-zone {
        outline: #32a1ce dashed medium;
        background: rgba(white, 0.2);
        transition: background 0.15s linear;
    }
}
