---
import Sidebar from "./Sidebar.svelte";
import ChatArea from "./ChatArea.svelte";
import ActivityLogs from "./ActivityLogs.svelte";
import ToasterWrapper from "./ToasterWrapper.svelte";
---

<ToasterWrapper client:only="svelte" />

<!-- 背景遮罩层 -->
<div class="fixed inset-0 bg-base-100/40"></div>

<div class="drawer lg:drawer-open">
    <input id="sidebar-toggle" type="checkbox" class="drawer-toggle" checked />

    <!-- 主内容区域 -->
    <div class="drawer-content flex h-screen flex-col">
        <!-- 顶部导航栏 -->
        <nav class="glass-panel navbar w-full border-b border-white/20">
            <div class="navbar-start"></div>
            <div class="navbar-center">
                <span class="font-bold tracking-widest">P2P</span>
            </div>
            <div class="navbar-end">
                <label
                    for="sidebar-toggle"
                    id="sidebar-swap"
                    class="btn swap btn-circle swap-rotate swap-active btn-ghost"
                >
                    <span class="material-symbols swap-on">close</span>
                    <span class="material-symbols swap-off">menu</span>
                </label>
            </div>
        </nav>

        <!-- 主内容 -->
        <main class="flex flex-1 flex-col overflow-hidden">
            <ChatArea client:only="svelte" />
            <ActivityLogs client:only="svelte" />
        </main>
    </div>

    <!-- 侧边栏 -->
    <div class="drawer-side">
        <label for="sidebar-toggle" aria-label="close sidebar" class="drawer-overlay"></label>
        <div
            class="glass-panel flex h-full flex-col items-start border-r border-white/20 is-drawer-close:w-0 is-drawer-open:w-96"
        >
            <div class="h-full w-full is-drawer-close:hidden">
                <!-- 侧边栏内容 -->
                <Sidebar client:only="svelte" />
            </div>
        </div>
    </div>
</div>

<script>
    const swap = document.querySelector<HTMLLabelElement>("#sidebar-swap")!;
    const toggle = document.querySelector<HTMLInputElement>("#sidebar-toggle")!;
    toggle.addEventListener("change", () => swap.classList.toggle("swap-active"));
</script>
